/*
Cores do Site 
Cinza - #222222
Cinza Fraco - #D3D3D3
Preto - #080808
Laranja - #ff6d00
Laranja Fraco - #f5910d
Branco - #ffffff
*/
body {
    background-color: #1a1a1a;
}

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.teko-font {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 768px) {

    /* apply styles here that will only work up to a screen width of 768p*/
    header {
        height: 4rem;
    }

    .fa-bars {
        height: 4rem;
    }
}

@media only screen and (min-width: 769px) {

    /* apply styles here that will only work up to a screen width of 768p*/
    .fixed-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: -15px;
        right: 10px;
        padding: 10px;
        border-radius: 1rem;
        background-color: #222222;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
        align-content: center;
    }

    .fixed-div .item {
        color: #f5910d;
        font-size: 2rem;
        margin-bottom: 20px;
        align-self: center;
        transition: color 1.5s;
    }

    .fixed-div .item:hover {
        color: #D3D3D3;
    }

    header {}

    .fa-bars {}

    #ola {
        margin-top: 10rem;
        margin-left: 5rem;
        padding-top: 3rem;
        padding-left: 10rem;
    }

    .ola_1 {
        font-size: 3rem;
        color: #D3D3D3;
        margin-bottom: 1rem;
    }

    .ola_2 {
        font-size: 8.5rem;
        color: #ff6d00;
    }

    .ola_3 {
        font-size: 4rem;
        color: #f5910d;
        margin-bottom: 1rem;
    }

    .ola_4 {
        font-size: 2rem;
        color: #D3D3D3;
        margin-bottom: 3rem;
    }

    .ola_5 {
        font-size: 2rem;
        color: #D3D3D3;
        padding: 1rem;
        border: 1px solid #ff6d00;
        border-radius: 1rem;
        max-width: fit-content;
    }

    #sobre {
        margin-top: 20rem;
        display: flex;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }

    .sobre_card {
        display: flex;
        align-items: center;
        align-content: center;
        margin-right: 6rem;
    }

    .sobre_img {
        width: 15rem;
        margin-left: 6rem;
        border-radius: 3rem;
    }

    .sobre_text1 {
        margin-bottom: 2rem;
    }

    .sobre_text2 {
        font-size: 2rem;
        color: #D3D3D3;
        margin-bottom: 1rem;
    }

    .sobre_curriculo {
        text-decoration: underline;
        color: #ff6d00;
        font-size: 2rem;
    }
}